---
import { metadataForLang } from '@packages/data';

interface Props {
  lang: string;
}

const { lang } = Astro.props;

const { skipToMainContent, waiShortcut } =
  metadataForLang(lang);
---

<ep-shortcut data-component="shortcut">
  <!-- Shortcut for Screen-readers -->
  <div class="ep:mx-width-container">
    <nav aria-label={waiShortcut}>
      <ul
        class="ep:fixed ep:z-10 ep:w-full ep:left-2 ep:top-2 ep:ml-8 ep:p-0 ep:list-none ep:[&>li]:relative ep:[&>li>a]:sr-only ep:[&>li>a:focus]:not-sr-only ep:[&>li>a]:no-underline ep:[&>li>a]:no-underline ep:[&>li>a]:h-0 ep:[&>li>a]:w-0 ep:[&>li>a]:inline-block ep:[&>li>a]:bg-blue-500 ep:[&>li>a]:text-white ep:[&>li>a]:text-sm ep:[&>li>a:hover]:bg-blue-800 ep:[&>li>a:hover]:outline-accent-blue-500 ep:[&>li>a:hover]:outline-2! ep:[&>li>a:hover]:outline-offset-4 ep:[&>li>a:focus]:outline-accent-blue-500 ep:[&>li>a:focus]:outline-2 ep:[&>li>a:focus]:outline-offset-4 ep:[&>li>a:focus]:p-4 ep:[&>li>a:focus]:outline ep:[&>li>a:focus]:outline-2 ep:[&>li>a:focus]:w-auto ep:[&>li>a:focus]:h-auto">
        <li>
          <a href="#mainContent">{skipToMainContent}</a>
        </li>
      </ul>
    </nav>
  </div>
</ep-shortcut>
