@use "../helpers/mixins";
@use "../helpers/variables";

/* NAVIGATION ==============================================================
 =================================================================================== */

.navwrapper{
  z-index: 150;
}


.burger{
  z-index: 51;
  @include mixins.transition(.3s);
  .icon{
    @include mixins.transition(.3s);
    &:before, &:after{
      content: '';
      position: absolute;
      top: -6px;
      display: block;
      transform-origin: center;
      height: 2px;
      width: 20px;
      border-radius: 2px;
      background-color: variables.$grey-darker;
      @include mixins.transition(.3s);
    }
    &:after{
      top: 6px;
      width: 20px;
    }
  }
  .label{
    @include mixins.transition(.3s);
  }
  &:hover, &:focus{
    .icon{
      background-color: #fff;
      &:before, &:after{
        background-color: #fff;
      }
    }
    .label{
      color: #fff;
    }
  }
  &.close{
    background-color: variables.$blue-middle;
    .icon{
      background-color: variables.$blue-middle;
      @include mixins.transition(.3s);
      &:before, &:after{
        background-color: #fff;
      }
      &:before{
        transform: translateY(6px) rotate(45deg);
      }
      &:after{
        transform: translateY(-6px) rotate(-45deg);
      }
    }
    .label{
      color: #fff;
    }
  }
}

.navList{
  display: none;
  top: -300px;
  box-shadow: -4px 2px 12px -6px rgba(0,0,0,0.75);
  li{
    a{
      &:focus{
        outline: 3px dotted #939393;
        outline-offset: -3px;
      }
    }
  }
  .current{
    color: variables.$blue-middle;
  }
  &.show{
    animation-name: slidedown;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    top: 0;
    opacity: 1;
    display: block;
  }
}


@include mixins.desktop{
  .navList{
    display: flex;
    width: auto;
    opacity: 1;
    box-shadow: none;
    li{
      a{
        font-size: 14px;
      }
    }
  }
}

@keyframes slidedown{
  0% {
    top: -300px;
    display: none;
  }
  10%{
    display: flex;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}