@use "../helpers/mixins";

/* top of the page */
.top-link{
  z-index: 700;
  &:before, &:after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 16px;
    background-color: #fff;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    transform: translateY(-50%) rotate(-45deg);
    @include mixins.transition(.3s);
  }
  &:after{
    transform: rotate(45deg);
    top: 49%;
    left: 30px;
    width: 19px;
  }
  &:hover, &:focus{
    &:before, &:after{
      background-color: #fff;
    }
  }
  &.show {
    visibility: visible;
    opacity: 1;
  }
  &.hide {
    visibility: hidden;
    opacity: 0;
  }
}