@import 'tailwindcss' prefix(ep);

@source './*.css';

@custom-variant dark (@media (prefers-color-scheme: dark));

@theme {
  --font-*: initial;
  --font-epregularvar: 'europeavar', sans-serif;
  --font-epregularvar--font-variation-settings: 'wght' 400, 'opsz' 80;
  --font-epsemiboldvar: 'europeavar', sans-serif;
  --font-epsemiboldvar--font-variation-settings: 'wght' 600, 'opsz' 80;

  --color-*: initial;
  --color-logo-grey: #6E6E6E;

  --color-inherit: inherit;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-white: #fafcfd;
  --color-black: #000000;

  --color-blue-100: #f2f8ff;
  --color-blue-200: #a9c5e8;
  --color-blue-300: ;
  --color-blue-400: ;
  --color-blue-500: #0c4da2;
  --color-blue-600: ;
  --color-blue-700: ;
  --color-blue-800: #012657;
  --color-blue-900: ;

  --color-grey-100: #f2f2f2;
  --color-grey-200: #d9d9d9;
  --color-grey-300: ;
  --color-grey-400: #a3a3a3;
  --color-grey-500: #888888;
  --color-grey-600: #6e6e6e;
  --color-grey-700: ;
  --color-grey-800: ;
  --color-grey-900: #1f1f1f;

  --color-purple-100: ;
  --color-purple-200: ;
  --color-purple-300: ;
  --color-purple-400: ;
  --color-purple-500: #681da8;
  --color-purple-600: ;
  --color-purple-700: ;
  --color-purple-800: ;
  --color-purple-900: ;

  --color-red-100: #fff3f2;
  --color-red-200: ;
  --color-red-300: ;
  --color-red-400: ;
  --color-red-500: #ed0000;
  --color-red-600: #c20000;
  --color-red-700: ;
  --color-red-800: ;
  --color-red-900: ;

  --color-orange-100: #fff8f2;
  --color-orange-200: ;
  --color-orange-300: ;
  --color-orange-400: ;
  --color-orange-500: #fb6b00;
  --color-orange-600: #cf5600;
  --color-orange-700: ;
  --color-orange-800: ;
  --color-orange-900: ;

  --color-yellow-100: ;
  --color-yellow-200: ;
  --color-yellow-300: ;
  --color-yellow-400: ;
  --color-yellow-500: #fff200;
  --color-yellow-600: ;
  --color-yellow-700: ;
  --color-yellow-800: ;
  --color-yellow-900: ;

  --color-green-100: #f1fff2;
  --color-green-200: ;
  --color-green-300: ;
  --color-green-400: ;
  --color-green-500: #007800;
  --color-green-600: #006800;
  --color-green-700: ;
  --color-green-800: ;
  --color-green-900: ;

  --color-accent-blue-100: ;
  --color-accent-blue-200: ;
  --color-accent-blue-300: ;
  --color-accent-blue-400: ;
  --color-accent-blue-500: #1e6cff;
  --color-accent-blue-600: ;
  --color-accent-blue-700: ;
  --color-accent-blue-800: ;
  --color-accent-blue-900: ;

  --breakpoint-*: initial;
  --breakpoint-xs: 320px;
  --breakpoint-s: 480px;
  --breakpoint-m: 650px;
  --breakpoint-l: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-xxl: 1280px;

  --text-*: initial;
  --text-heading-s: 1rem;
  --text-heading-m: 1.125rem;
  --text-heading-l: 1.25rem;
  --text-heading-xl: 1.5rem;
  --text-heading-2xl: 1.75rem;
  --text-heading-3xl: 2.25rem;
  --text-body-s: 0.875rem;
  --text-body-m: 1rem;
  --text-body-l: 1.125rem;
  --text-body-xl: 1.25rem;
  --text-body-2xl: 1.75rem;

  --leading-*: initial;
  --leading-heading-s: 1.5rem;
  --leading-heading-m: 1.5rem;
  --leading-heading-l: 1.75rem;
  --leading-heading-xl: 1.75rem;
  --leading-heading-2xl: 2.375rem;
  --leading-heading-3xl: 2.625rem;
  --leading-body-s: 1.25rem;
  --leading-body-m: 1.5rem;
  --leading-body-l: 1.75rem;
  --leading-body-xl: 1.75rem;
  --leading-body-2xl: 2.188rem;

  --border-width-*: initial;
  --border-width-0: 0;
  --border-width-2: 2px;
  --border-width-3: 3px;
  --border-width-4: 4px;
  --border-width-5: 5px;
  --border-width-6: 6px;
  --border-width-8: 8px;
  --border-width: 1px;

  --grid-template-columns-template-12: repeat(12, minmax(0, 1fr));
  --grid-template-columns-template-10: repeat(10, minmax(0, 1fr));
  --grid-template-columns-template-8: repeat(8, minmax(0, 1fr));
  --grid-template-columns-template-6: repeat(6, minmax(0, 1fr));
  --grid-template-columns-template-2: repeat(2, minmax(0, 1fr));
  --grid-template-columns-template-b: repeat(auto-fit, minmax(200px, 1fr));

  --leading-11: 4rem;

  --margin-3xs: 0.25rem;
  --margin-2xs: 0.5rem;
  --margin-xs: 1rem;
  --margin-s: 1.5rem;
  --margin-m: 2rem;
  --margin-l: 3rem;
  --margin-xl: 4rem;
  --margin-2xl: 6rem;

  --padding-3xs: 0.25rem;
  --padding-2xs: 0.5rem;
  --padding-xs: 0.625rem;
  --padding-m: 0.875rem;
  --padding-l: 1rem;
  --padding-xl: 1.5rem;
  --padding-2xl: 2rem;
  --padding-3xl: 3rem;

  --gap-2xs: 0.25rem;
  --gap-xs: 0.5rem;
  --gap-s: 1rem;
  --gap-m: 1.5rem;
  --gap-l: 2rem;
  --gap-xl: 3rem;

  --space-2xs: 0.5rem;
  --space-xs: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem;
  --space-xl: 3rem;

  --radius-none: 0;
  --radius-2xs: 0.25rem;
  --radius-xs: 0.5rem;
  --radius-m: 0.75rem;

  --content-arrow-right-icon: url('../img/icons/ep-ic-arrow-right-s.svg');
  --content-arrow-dropdown-icon: url('../img/icons/ep-ic-chevron-down-l.svg');
  --content-arrow-dropdown-icon-w: url('../img/icons/ep-ic-chevron-down-w-l.svg');
  --content-pdf-icon: url('../img/icons/ep-ic-pdf.svg');
  --content-close-icon: url('../img/icons/ep-ic-close.svg');
  --content-search-icon: url('../img/icons/ep-ic-magnifier-w.svg');
  --content-lang-icon: url('../img/icons/ep-ic-switch.svg');
  --content-lang-icon-w: url('../img/icons/ep-ic-switch-w.svg');
  --content-close-icon-w: url('../img/icons/ep-ic-close-w.svg');
  --content-check-icon: url('../img/icons/ep-ic-checkmark.svg');

  --animate-slideup: slideup 0.3s normal ease-in-out;

  @keyframes slideup {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-4px);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
