---
// No props or nested includes needed based on the provided snippet
---
<!-- COUNTRIES -->
<ul class="columns-1 sm:columns-2 lg:columns-3 gap-8 p-4">

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Austria</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Belgium</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Bulgaria</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Croatia</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Cyprus</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Czechia</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Denmark</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Estonia</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Finland</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">France</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Germany</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Greece</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Hungary</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Ireland</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Italy</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Latvia</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Lithuania</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Luxembourg</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Malta</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Netherlands</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Poland</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Portugal</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Romania</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Slovakia</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Slovenia</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Spain</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

    <li class="break-inside-avoid border-b border-b-1 border-[LightGray] py-6">
        <a href="#" class="flex items-center !no-underline hover:!underline focus:!underline">
            <span class="font-epSemiBold text-[1.781rem] leading-normal inline mr-3">Sweden</span><span class="inline-block min-w[25px]"><svg focusable="false" aria-hidden="true" class="fill-blue-default" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="25"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></span>
        </a>
    </li>

</ul>
