---
interface Props {
  lang: string;
  currentPage: string;
}

import Logo from '../../medias/logo-ep.astro';
import LanguageSwitcher from '../../nav/language-switcher.astro';

const { lang, currentPage } = Astro.props;

const languageSwitcherProps = { lang, currentPage };
const logoProps = { lang, currentPage };
---

<!-- Position and spacings if necessary -->
<div
  class="ep:relative ep:flex ep:flex-row ep:justify-between ep:items-center ep:py-xl">
  <div>
    <Logo {...logoProps} />
  </div>
  <!-- SMALL GROUP BUTTONS -->
  <div
    class="ep:flex ep:flex-col ep:xs:flex-row ep:justify-end ep:items-end ep:xs:items-center ep:flex-wrap ep:gap-xs ep:[&_button>.ep-icon:first-of-type]:hidden ep:l:[&_button>.ep-icon:first-of-type]:inline-block ep:[&_button>.ep-icon:last-of-type]:hidden ep:s:[&_button>.ep-icon:last-of-type]:inline-block ep:[&_.nav-main>strong]:ml-0 ep:m:[&_.nav-main>strong]:mr-2xs">
    <LanguageSwitcher {...languageSwitcherProps} />
  </div>
</div>
