//Countdown

.countdown{
  time{
    & > span:nth-of-type(2){
      position: relative;
      &:before, &:after{
        content: "";
        display: block;
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 1px;
      }
      &:before{
        top: 0;
      }
      &:after{
        bottom: 0;
      }
    }
  }
}

@media all and (min-width: 480px) {
  .countdown{
    time{
      & > span:nth-of-type(2){
        position: relative;
        &:before, &:after{
          content: "";
          display: block;
          position: absolute;
          top: 12px;
          background-color: #fff;
          width: 1px;
          height: calc( 100% - 20px );
        }
        &:before{
          left: 0;
        }
        &:after{
          right: 0;
        }
      }
    }
  }
}