---
import Head from '../components/Head.astro';
import ShortcutWai from '../components/ShortcutWai.astro';
import NavigationRevamp from '../components/NavigationRevamp.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <Head {title} {description} />
  </head>
  <body>
    <ShortcutWai />
    <NavigationRevamp />

    {/* Main page content goes here */}
    <slot />

    <Footer />

    {/* Common Scripts */}
    <script is:inline src="/assets/js/goToTop.js"></script>
    <script is:inline src="/assets/js/menu-desktop.js"></script>
    <script is:inline src="/assets/js/menu-mobile.js"></script>
    <script is:inline src="/assets/js/dropdown-desktop.js"></script>
    {/* Add other common script references here if identified */}
  </body>
</html>
