/* --------------------------------- */
/* HEADER
------------------------------------ */
.header{
  /*.xl-h-650{
    @include desktop{
      height: 650px;
    }
  }
  .xl-h-550{
    height: 550px;
    @include desktop{
      height: 550px;
    }
  }
  .xl-h-400{
    height: 400px;
    @include desktop{
      height: 400px;
    }
  }*/
}
.logo{
  z-index: 51;
}

@media screen and (max-width: 600px) {
  .bg-pos-150px{
    background-position: -150px center;
  }
}