---
interface Props {
  lang: string;
  currentPage: string;
}

import { languages, metadataForLang } from '@packages/data';

import ButtonExpandSecondary from '../buttons/button-expand-secondary.astro';
import SelectTitle from '../primitive/text/span.astro';
import LangLink from '../links/default-link-lang.astro';

const { lang, currentPage } = Astro.props;

const { switchLanguage } = metadataForLang(lang);

const selectTitleProps = {
  colorfont: 'ep:text-grey-900',
  hidden: '',
  label: switchLanguage,
  sizefont: 'ep:text-heading-m ep:leading-heading-m',
  weightfont: 'ep:font-epsemiboldvar',
};
---

<ep-nav-language data-component="nav-language">
  <nav aria-label={switchLanguage} class="menu nav-langs">
    <ButtonExpandSecondary {lang} />
    <div
      id="menu2-list"
      class="list ep:absolute ep:left-0 ep:z-10 ep:w-full ep:bg-white ep:mt-xs ep:pt-2xl ep:pb-3xl"
      hidden>
      <div class="ep:relative ep:mb-s">
        <!-- element -->
        <SelectTitle {...selectTitleProps} />
      </div>
      <ul
        aria-labelledby="lang-menu"
        class="ep:gap-16 ep:s:columns-2 ep:l:columns-3 space-y-s ep:[&>li]:mb-xs ep:[&>li]:break-inside-avoid ep:[&>li]:will-change-transform ep:[&>li]:border-grey-500 ep:[&>li:last-of-type]:mb-0 before:ep:block after:ep:block">
        {
          Object.entries(languages).map(([langCode, langLabel]) => (
            <li>
              <div
                data-component="flex-container"
                class="ep:flex ep:flex-wrap ep:[&>.ep-icon]:ml-2xs">
                <LangLink {...{ lang, currentPage, langCode, langLabel }} />
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</ep-nav-language>
