---
interface Props {
  coloricon: string;
  hovercoloricon: string;
}

const { coloricon, hovercoloricon } = Astro.props;
---


<span class="ep-icon ep:block ep:w-[24px] ep:shrink-0">
  <svg role="presentation" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <g>
      <g>
        <rect style="fill:none" width="24" height="24"/>
      </g>
      <g>
        <path class="{coloricon} {hovercoloricon}" d="M12.01,6c3.31,0,6,2.69,6,6s-2.69,6-6,6-6-2.69-6-6,2.69-6,6-6M12.01,4c-4.42,0-8,3.58-8,8s3.58,8,8,8,8-3.58,8-8-3.58-8-8-8h0Z"/>
        <polygon class="{coloricon} {hovercoloricon}" points="15.93 14 11 13.99 11 8 13 8 13 11.99 15.94 12 15.93 14"/>
      </g>
    </g>
  </svg>
</span>
