---
interface Props {
  coloricon?: string;
  hovercoloricon?: string;
}

const { coloricon = '', hovercoloricon = '' } = Astro.props;
---

<span class="ep-icon ep:block ep:w-[24px] ep:shrink-0">
  <svg
    role="presentation"
    aria-hidden="true"
    focusable="false"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24">
    <g>
      <g>
        <rect style="fill:none" width="24" height="24"></rect>
      </g>
      <polygon
        class={`${coloricon} ${hovercoloricon}`}
        points="12 17.6 4.22 9.82 5.64 8.4 12 14.77 18.36 8.41 19.78 9.82 12 17.6"
      ></polygon>
    </g>
  </svg>
</span>
