---
interface Props {
  coloricon: string;
  hovercoloricon: string;
}

const { coloricon, hovercoloricon } = Astro.props;
---

<span class="ep-icon ep:block ep:w-[24px] ep:shrink-0">
  <svg role="presentation" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <g>
      <g>
        <rect style="fill:none" width="24" height="24"/>
      </g>
      <path class="{coloricon} {hovercoloricon}" d="M3.99,6v12h16V6H3.99ZM16.57,8l-4.59,4.59-4.59-4.59h9.17ZM5.99,16v-6.59l6,6,6-6v6.59H5.99Z"/>
    </g>
  </svg>
</span>
