<!-- CARDS / Post Elections Committees -->
<ul>
  <li
    class="card-member-item-content pb-5 mb-6 border-1 border-b border-[LightGray]">
    <div class="block sm:flex justify-between mt-1">
      <a href="#" class="link-com">
        <div class="block sm:flex justify-start items-start">
          <abbr
            class="inline-block bg-red-default border-red-default border rounded text-white-default font-epSemiBold text-base leading-5 pt-0.5 pb-0 px-2 mr-3"
            >DROI</abbr
          >
          <h3 class="font-epSemiBold mr-3">Subcommittee on Human Rights</h3>
        </div>
      </a>
      <p class="text-left sm:w-[200px] sm:text-right ml-auto">Responsible</p>
    </div>
  </li>

  <li
    class="card-member-item-content pb-5 mb-6 border-1 border-b border-[LightGray]">
    <div class="block sm:flex justify-between mt-1">
      <a href="#" class="link-com">
        <div class="block sm:flex justify-start items-start">
          <abbr
            class="inline-block bg-red-default border-red-default border rounded text-white-default font-epSemiBold text-base leading-5 pt-0.5 pb-0 px-2 mr-3"
            >AFET</abbr
          >
          <h3 class="font-epSemiBold mr-3">Foreign Affairs</h3>
        </div>
      </a>
      <p class="text-left sm:w-[200px] sm:text-right ml-auto">Responsible</p>
    </div>

    <ul class="pl-4">
      <li>
        <div class="block sm:flex justify-between mt-1">
          <a href="#" class="link-com">
            <div class="block sm:flex justify-start items-start">
              <abbr
                class="inline-block border-red-default border rounded text-red-default font-epSemiBold text-base leading-5 pt-0.5 pb-0 px-2 mr-3"
                >SEDE</abbr
              >
              <h3 class="font-epSemiBold mr-3">Security and Defense</h3>
            </div>
          </a>
          <p class="text-left sm:w-[200px] sm:text-right ml-auto">Invited</p>
        </div>
      </li>
    </ul>
  </li>

  <li class="card-member-item-content pb-5 mb-6">
    <div class="block sm:flex justify-between mt-1">
      <a href="#" class="link-com">
        <div class="block sm:flex justify-start items-start">
          <abbr
            class="inline-block border-red-default border rounded bg-red-default text-white-default font-epSemiBold text-base leading-5 pt-0.5 pb-0 px-2 mr-3"
            >DROI</abbr
          >
          <h3 class="font-epSemiBold mr-3">Subcommittee on Human Rights</h3>
        </div>
      </a>
      <p class="text-left sm:w-[200px] sm:text-right ml-auto">Responsible</p>
    </div>
  </li>
</ul>
