<!-- CARD MEMBER ITEMS -->
<div class="card-member-item">

  <div
    class="card-member-item-content pb-3 mb-6 border-1 border-b border-[LightGray]">
    <h3 class="font-epSemiBold text-xl">Jane Doe</h3>
    <div class="block sm:flex justify-between mt-2">
      <p class="mr-2 mt-2">Executive vice-president</p>
      <p>Country</p>
    </div>
    <div class="block mt-2">
      <p class="font-epSemiBold">A Europe Fit for the Digital Age</p>
      <p class="font-epSemiBold">portfolio item 2</p>
      <p class="font-epSemiBold">portfolio item 3</p>
      <p class="font-epSemiBold">portfolio item 4</p>
    </div>
  </div>

    <div class="card-member-item-content pb-3 mb-6 border-1 border-b border-[LightGray]">
        <h3 class="font-epSemiBold text-xl">John Doe</h3>
        <div class="block sm:flex justify-between mt-2">
            <p class="mr-2 mt-2">Executive vice-president</p>
            <p>Country</p>
        </div>
        <div class="block mt-2">
            <p class="font-epSemiBold">An Economy that Works for People</p>
            <p class="font-epSemiBold">An Economy that Works for People 2</p>
            <p class="font-epSemiBold">An Economy that Works for People 3</p>
        </div>
    </div>

    <div class="card-member-item-content pb-3 mb-6 border-1 border-b border-[LightGray]">
        <h3 class="font-epSemiBold text-xl">Jane Doe</h3>
        <div class="block sm:flex justify-between mt-2">
            <p class="mr-2 mt-2">Executive vice-president</p>
            <p>Country</p>
        </div>

        <div class="block mt-2">
            <p class="font-epSemiBold">An Economy that Works for People</p>
            <p class="font-epSemiBold">An Economy that Works for People 2</p>
            <p class="font-epSemiBold">An Economy that Works for People 3</p>
            <p class="font-epSemiBold">An Economy that Works for People 4</p>
            <p class="font-epSemiBold">An Economy that Works for People 5</p>
        </div>
    </div>

    <h2 class="font-epSemiBold text-[1.556rem] pb-5">Withrawn candidates</h2>

    <div class="card-member-item-content pb-3 mb-6 border-1 border-b border-[LightGray]">
        <h3 class="font-epSemiBold text-xl">Jane Doe</h3>
        <div class="block sm:flex justify-between mt-2">
            <p class="mr-2 mt-2">Executive vice-president</p>
            <p>Country</p>
        </div>

        <div class="block mt-2">
            <p class="font-epSemiBold">A Europe Fit for the Digital Age</p>
            <p class="font-epSemiBold">A Europe Fit for the Digital Age 2</p>
            <p class="font-epSemiBold">A Europe Fit for the Digital Age 3</p>
        </div>
    </div>

    <div class="card-member-item-content pb-3 mb-6 border-1 border-b border-[LightGray]">
        <h3 class="font-epSemiBold text-xl">John Doe</h3>
        <div class="block sm:flex justify-between mt-2">
            <p class="mr-2 mt-2">Executive vice-president</p>
            <p>Country</p>
        </div>

        <div class="block mt-2">
            <p class="font-epSemiBold">An Economy that Works for People</p>
            <p class="font-epSemiBold">An Economy that Works for People 2</p>
            <p class="font-epSemiBold">An Economy that Works for People 3</p>
        </div>
    </div>

    <div class="card-member-item-content pb-3 mb-6 border-1 border-b border-[LightGray]">
        <h3 class="font-epSemiBold text-xl">Jane Doe</h3>
        <div class="block sm:flex justify-between mt-2">
            <p class="mr-2 mt-2">Executive vice-president</p>
            <p>Country</p>
        </div>

        <div class="block mt-2">
            <p class="font-epSemiBold">An Economy that Works for People</p>
            <p class="font-epSemiBold">item 2</p>
            <p class="font-epSemiBold">item 3</p>
            <p class="font-epSemiBold">Item 4</p>
        </div>
    </div>


</div>