<!-- CARDS | EASY TO READ -->
<ul class="etr-block max-w-4xl mt-5 mb-5">
  <li class="block mb-16 lg:flex md:flex sm:block">
    <img
      src="../../assets/img/etr/map.png"
      class="mr-12"
      alt="A map with all 27 European Union countries"
    />
    <div class="mt-2">
      <h2 class="text-2-xl font-EPGammaBold flex items-center py-2">
        What are European elections?
      </h2>
      <p>
        In European elections, people in the European Union vote for members to
        represent them in the European Parliament.
        <br />
        The European Union is known as the EU.
        <br />
        Elections take place in all 27 EU countries.
      </p>
    </div>
  </li>
  <li class="block mb-16 lg:flex md:flex sm:block">
    <img
      src="../../assets/img/etr/en/5-years.png"
      class="mr-12"
      alt="A calendar with the text '5 years' and an arrow forming a circle next to it"
    />
    <div class="mt-2">
      <h2 class="text-2-xl font-EPGammaBold flex items-center py-2">
        How often do European elections take place?
      </h2>
      <p>
        Elections take place every 5 years.
        <br />
        The last elections were in May 2019.
      </p>
    </div>
  </li>
  <li class="block mb-16 lg:flex md:flex sm:block">
    <img
      src="../../assets/img/etr/en/6-9-june.png"
      class="mr-12"
      alt="A calendar with the text '6-9 June, European elections 2024'"
    />
    <div class="mt-2">
      <h2 class="text-2-xl font-EPGammaBold flex items-center py-2">
        When are the next elections?
      </h2>
      <p>
        The next elections will be from 6 to 9 June 2024.
        <br />
        EU countries have elections on different days.
        <br />
        For example, the Netherlands has elections on Thursday, and France has
        elections on Sunday.
      </p>
    </div>
  </li>
  <li class="block mb-16 lg:flex md:flex sm:block">
    <img
      src="../../assets/img/etr/en/voting-box.png"
      class="mr-12"
      alt="A ballot goes into a ballot box with the text 'Vote'"
    />
    <div class="mt-2">
      <h2 class="text-2-xl font-EPGammaBold flex items-center py-2">
        Why is it important to vote?
      </h2>
      <p>
        When you vote, you choose the Members of the European Parliament.
        <br />
        These Members make decisions that affect your daily life. For example,
        these decisions affect jobs, healthcare and the environment.<br />
        Your vote matters. If you vote, you have a say.
      </p>
    </div>
  </li>
  <li class="block mb-16 lg:flex md:flex sm:block">
    <img
      src="../../assets/img/etr/mep.png"
      class="mr-12"
      alt="An illustration of a woman speaking in front of an audience"
    />
    <div class="mt-2">
      <h2 class="text-2-xl font-EPGammaBold flex items-center py-2">
        What are the rules of the elections
      </h2>
      <p>
        If you want to vote, you may need to register.
        <br />
        You can only vote once in each election.
        <br />
        You can vote if you are an EU citizen.
        <br />
        You are an EU citizen if you are a national of an EU country.
        <br />
        You can vote in the elections in the EU country of which you are a
        citizen.
        <br />
        If you live in another EU country, you can vote there.
        <br />
        You can only be a candidate in one EU country.
        <br />
        This could be the EU country of which you are a citizen.
        <br />
        Or, if you live in another EU country, you can be a candidate there.
      </p>
    </div>
  </li>
  <li class="block mb-16 lg:flex md:flex sm:block">
    <img
      src="../../assets/img/etr/en/how-to-vote.png"
      class="mr-12"
      alt="A link with the text 'How to vote'"
    />
    <div class="mt-2">
      <h2 class="text-2-xl font-EPGammaBold flex items-center py-2">
        Where can I find information on how to vote?
      </h2>
      <p>
        The website of the European Parliament will have information on how to
        vote. This information will be there soon.
      </p>
    </div>
  </li>
  <li class="block mb-16 lg:flex md:flex sm:block">
    <img
      src="../../assets/img/etr/en/results.png"
      class="mr-12"
      alt="A link with the text 'Results'"
    />
    <div class="mt-2">
      <h2 class="text-2-xl font-EPGammaBold flex items-center py-2">
        Where can I find the results of the elections?
      </h2>
      <p>
        You will find the results on the website of the European Parliament.
      </p>
    </div>
  </li>
  <li class="block mb-16 lg:flex md:flex sm:block">
    <img
      src="../../assets/img/etr/en/law-and-budget.png"
      class="mr-12"
      alt="Three illustrations: a coin with the euro symbol, a document with the text 'Law', and a man speaking in front of an audience"
    />
    <div class="mt-2">
      <h2 class="text-2-xl font-EPGammaBold flex items-center py-2">
        What do Members of the European Parliament do?
      </h2>
      <p>
        Members of the European Parliament are called MEPs.
        <br />
        MEPs represent the 450 million people who live in the EU.
        <br />
        MEPs look at plans for new EU laws.
        <br />
        MEPs also change laws to make them better.
        <br />
        MEPs and the Council of the EU decide on the EU budget.
        <br />
        MEPs check how the EU is working.
        <br />
        MEPs vote on trade agreements with countries outside the EU.
        <br />
        MEPs elect the president of the European Commission.
      </p>
    </div>
  </li>
  <li class="block mb-16 lg:flex md:flex sm:block">
    <img
      src="../../assets/img/etr/en/720-meps.png"
      class="mr-12"
      alt="Three figures (two women and a man) and the text '720 MEPs'"
    />
    <div class="mt-2">
      <h2 class="text-2-xl font-EPGammaBold flex items-center py-2">
        How many MEPs will be elected?
      </h2>
      <p>
        In 2024, 720 MEPs will be elected.
        <br />
        The number of MEPs is decided before each election.
        <br />
        The total number of MEPs cannot be more than 750 plus the president.
        <br />
        There are currently 705 MEPs.
        <br />
        Each EU country can have a minimum of 6 MEPs and a maximum of 96.
      </p>
    </div>
  </li>
  <li class="block mb-16 lg:flex md:flex sm:block">
    <img
      src="../../assets/img/etr/hemicycle.png"
      class="mr-12"
      alt="An illustration of a semi-circle full of dots in different colours. The dots represent the MEPs in different political groups in the voting room in Strasbourg"
    />
    <div class="mt-2">
      <h2 class="text-2-xl font-EPGammaBold flex items-center py-2">
        What happens after the elections?
      </h2>
      <p>
        The elected MEPs work to form political groups.
        <br />
        Groups include MEPs from different countries and political parties.
        <br />
        The groups have common aims.
        <br />
        MEPs elect a president for the Parliament.
        <br />
        MEPs also elect the president of the European Commission.
      </p>
      <br>
      <p>Dummy content for list below</p>
      <ul>
        <li>The elected MEPs work to form political groups.</li>
        <li>Groups include MEPs from different countries and political parties.</li>
        <li>The groups have common aims.</li>
        <li>MEPs elect a president for the Parliament.</li>
        <li>MEPs also elect the president of the European Commission.</li>
      </ul>
      <br>
      <p>this is a text below the list.</p>

    </div>
  </li>
</ul>

<p class="mb-10">Find out more on the <a href="https://elections.europa.eu/en/">European elections home page</a></p>
