<!-- FORM - CONSENT BANNER -->
<form id="ep_opt" class="ep_opt-form border border-2 border-[LightGray] rounded-md mt-5 mb-54px">
    <fieldset>

        <legend>
            <p>Based on the information at our disposal, it seems you accepted our analytics cookies. If you change your mind, you may activate the following choice:</p>
        </legend>

        <div class="ep_cookies-form-field">
            <input id="a11y-issue-1" name="a11y-issues" type="radio" value="no-issues">
            <label for="a11y-issue-1">There are no issues</label>
        </div>

        <div class="ep_cookies-form-field">
            <input id="a11y-issue-2" name="a11y-issues" type="radio" value="no-focus-styles">
            <label for="a11y-issue-2">Focus styles are not present</label>
        </div>

    </fieldset>
</form>