<div
  class="epol-block lg:flex flex-col md:block sm:block block max-w-4xl mx-auto mb-16 px-4">
  <h3 class="text-2lg font-EPGammaBold text-black-greydark mb-6">@@name</h3>
  <table>
    <tr>
      <td>doi</td>
      <td><a href="#">bg</a></td>
      <td>cs</td>
      <td><a href="#">da</a></td>
      <td><a href="#">de</a></td>
      <td>el</td>
      <td>en</td>
      <td>es</td>
      <td>et</td>
      <td>fi</td>
      <td>fr</td>
      <td>ga</td>
      <td>hr</td>
      <td>hu</td>
      <td>it</td>
      <td>lt</td>
      <td>lv</td>
      <td>mt</td>
      <td>nl</td>
      <td>pl</td>
      <td>pt</td>
      <td>ro</td>
      <td>sk</td>
      <td>sl</td>
      <td>sv</td>
    </tr>
    <tr>
      <td>wq</td>
      <td><a href="#">bg</a></td>
      <td>cs</td>
      <td><a href="#">da</a></td>
      <td><a href="#">de</a></td>
      <td>el</td>
      <td>en</td>
      <td>es</td>
      <td>et</td>
      <td>fi</td>
      <td>fr</td>
      <td>ga</td>
      <td>hr</td>
      <td>hu</td>
      <td>it</td>
      <td>lt</td>
      <td>lv</td>
      <td>mt</td>
      <td>nl</td>
      <td>pl</td>
      <td>pt</td>
      <td>ro</td>
      <td>sk</td>
      <td>sl</td>
      <td>sv</td>
    </tr>
    <tr>
      <td>wqa</td>
      <td><a href="#">bg</a></td>
      <td>cs</td>
      <td><a href="#">da</a></td>
      <td><a href="#">de</a></td>
      <td>el</td>
      <td>en</td>
      <td>es</td>
      <td>et</td>
      <td>fi</td>
      <td>fr</td>
      <td>ga</td>
      <td>hr</td>
      <td>hu</td>
      <td>it</td>
      <td>lt</td>
      <td>lv</td>
      <td>mt</td>
      <td>nl</td>
      <td>pl</td>
      <td>pt</td>
      <td>ro</td>
      <td>sk</td>
      <td>sl</td>
      <td>sv</td>
    </tr>
    <tr>
      <td>awq</td>
      <td>bg</td>
      <td><a href="#">cs</a></td>
      <td>da</td>
      <td><a href="#">de</a></td>
      <td><a href="#">el</a></td>
      <td><a href="#">en</a></td>
      <td>es</td>
      <td>et</td>
      <td>fi</td>
      <td><a href="#">fr</a></td>
      <td>ga</td>
      <td>hr</td>
      <td>hu</td>
      <td>it</td>
      <td>lt</td>
      <td>lv</td>
      <td>mt</td>
      <td>nl</td>
      <td>pl</td>
      <td>pt</td>
      <td>ro</td>
      <td>sk</td>
      <td>sl</td>
      <td>sv</td>
    </tr>
    <tr>
      <td>awqa</td>
      <td>bg</td>
      <td><a href="#">cs</a></td>
      <td>da</td>
      <td><a href="#">de</a></td>
      <td><a href="#">el</a></td>
      <td><a href="#">en</a></td>
      <td>es</td>
      <td>et</td>
      <td>fi</td>
      <td><a href="#">fr</a></td>
      <td>ga</td>
      <td>hr</td>
      <td>hu</td>
      <td>it</td>
      <td>lt</td>
      <td>lv</td>
      <td>mt</td>
      <td>nl</td>
      <td>pl</td>
      <td>pt</td>
      <td>ro</td>
      <td>sk</td>
      <td>sl</td>
      <td>sv</td>
    </tr>
    <tr>
      <td>vrch</td>
      <td>bg</td>
      <td><a href="#">cs</a></td>
      <td>da</td>
      <td><a href="#">de</a></td>
      <td><a href="#">el</a></td>
      <td><a href="#">en</a></td>
      <td>es</td>
      <td>et</td>
      <td>fi</td>
      <td><a href="#">fr</a></td>
      <td>ga</td>
      <td>hr</td>
      <td>hu</td>
      <td>it</td>
      <td>lt</td>
      <td>lv</td>
      <td>mt</td>
      <td>nl</td>
      <td>pl</td>
      <td>pt</td>
      <td>ro</td>
      <td>sk</td>
      <td>sl</td>
      <td>sv</td>
    </tr>
    <tr>
      <td>vrrch</td>
      <td>bg</td>
      <td><a href="#">cs</a></td>
      <td>da</td>
      <td><a href="#">de</a></td>
      <td><a href="#">el</a></td>
      <td><a href="#">en</a></td>
      <td>es</td>
      <td>et</td>
      <td>fi</td>
      <td><a href="#">fr</a></td>
      <td>ga</td>
      <td>hr</td>
      <td>hu</td>
      <td>it</td>
      <td>lt</td>
      <td>lv</td>
      <td>mt</td>
      <td>nl</td>
      <td>pl</td>
      <td>pt</td>
      <td>ro</td>
      <td>sk</td>
      <td>sl</td>
      <td>sv</td>
    </tr>
    <tr>
      <td>ev</td>
      <td>bg</td>
      <td><a href="#">cs</a></td>
      <td>da</td>
      <td><a href="#">de</a></td>
      <td><a href="#">el</a></td>
      <td><a href="#">en</a></td>
      <td>es</td>
      <td>et</td>
      <td>fi</td>
      <td><a href="#">fr</a></td>
      <td>ga</td>
      <td>hr</td>
      <td>hu</td>
      <td>it</td>
      <td>lt</td>
      <td>lv</td>
      <td>mt</td>
      <td>nl</td>
      <td>pl</td>
      <td>pt</td>
      <td>ro</td>
      <td>sk</td>
      <td>sl</td>
      <td>sv</td>
    </tr>
  </table>
</div>
