<p><strong class="text-black-default">Contact Europe Direct</strong></p>

<p>For any further questions about the European elections please <a target="_blank" rel="noreferrer noopener nofollow" href="https://european-union.europa.eu/contact-eu_en">contact the European Union</a></p>
<p>Call from inside the EU: <a target="_blank" rel="noreferrer noopener nofollow" href="tel:0080067891011">00 800 6 7 8 9 10 11</a> (free phone)</p>
<p>Call from outside the EU: <a target="_blank" rel="noreferrer noopener nofollow" href="tel:003222999696">0032 2 299 96 96</a> (standard international rate)</p>