<footer class="footer max-w-5xl mx-auto px-4 py-8">
  <nav
    class="navFooter py-4 text-left block md:!flex md:!items-center"
    aria-label="Information links"
  >
    <a href="#" class="md:mr-5">
      <img
      src="../assets/img/logos/logo-ep-en.svg"
      alt="European Parliament logo"
      class="w-full min-w-[150px] max-w-[150px] -mt-3"
      />
    </a>
    <ul class="footerLinks block md:flex md:flex-wrap mt-8 md:mt-0">
      <li class="md:pb-0 mx-4 pb-3">
        <a rel="noreferrer" href="legal-notice.html">Legal notice</a>
      </li>
      <li class="md:pb-0 mx-4 pb-3">
        <a rel="noreferrer" href="privacy-policy.html">Privacy policy</a>
      </li>
      <li class="md:pb-0 mx-4 pb-3">
        <a rel="noreferrer" href="accessibility.html">Accessibility</a>
      </li>
      <li class="md:pb-0 mx-4 pb-3">
        <a rel="noreferrer" href="easy-to-read.html">Easy-to-read</a>
      </li>
      <li class="md:pb-0 mx-4 pb-3">
        <a
          href="https://europa.eu/european-union/contact_en"
          target="_blank"
          rel="noopener noreferrer">Contact us</a>
      </li>
      <li class="md:pb-0 mx-4 pb-3">
        <a rel="noreferrer" href="sitemap.html">Sitemap</a>
      </li>
    </ul>
  </nav>
</footer>
