<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta
  name="description"
  content="This 9th May Europe comes to you, wherever you are. Discover the 2021 programme, tell us what Europe means to you and get involved in building a better future together." />
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta name="language" content="en" />
<meta name="planet" content="ambassador-school" />
<meta http-equiv="last-modified" content="20/06/2023" />

<meta
  name="robots"
  content="index, follow, noodp, noydir, notranslate, noarchive" />

<meta itemprop="name" content="How Election works" />
<meta
  itemprop="image"
  content="https://www.elections.europa.eu/assets/img/ep-logo.png" />

<link rel="canonical" href="https://www.elections.europa.eu/{lg}" />

<link
  rel="alternate"
  hreflang="bg"
  href="https://www.elections.europa.eu/bg/how-elections-work" />
<link
  rel="alternate"
  hreflang="es"
  href="https://www.elections.europa.eu/es/how-elections-work" />
<link
  rel="alternate"
  hreflang="cs"
  href="https://www.elections.europa.eu/cs/how-elections-work" />
<link
  rel="alternate"
  hreflang="da"
  href="https://www.elections.europa.eu/da/how-elections-work" />
<link
  rel="alternate"
  hreflang="de"
  href="https://www.elections.europa.eu/de/how-elections-work" />
<link
  rel="alternate"
  hreflang="et"
  href="https://www.elections.europa.eu/et/how-elections-work" />
<link
  rel="alternate"
  hreflang="el"
  href="https://www.elections.europa.eu/el/how-elections-work" />
<link
  rel="alternate"
  hreflang="en"
  href="https://www.elections.europa.eu/en/how-elections-work" />
<link
  rel="alternate"
  hreflang="fr"
  href="https://www.elections.europa.eu/fr/how-elections-work" />
<link
  rel="alternate"
  hreflang="ga"
  href="https://www.elections.europa.eu/ga/how-elections-work" />
<link
  rel="alternate"
  hreflang="hr"
  href="https://www.elections.europa.eu/hr/how-elections-work" />
<link
  rel="alternate"
  hreflang="it"
  href="https://www.elections.europa.eu/it/how-elections-work" />
<link
  rel="alternate"
  hreflang="lv"
  href="https://www.elections.europa.eu/lv/how-elections-work" />
<link
  rel="alternate"
  hreflang="lt"
  href="https://www.elections.europa.eu/lt/how-elections-work" />
<link
  rel="alternate"
  hreflang="hu"
  href="https://www.elections.europa.eu/hu/how-elections-work" />
<link
  rel="alternate"
  hreflang="mt"
  href="https://www.elections.europa.eu/mt/how-elections-work" />
<link
  rel="alternate"
  hreflang="nl"
  href="https://www.elections.europa.eu/nl/how-elections-work" />
<link
  rel="alternate"
  hreflang="pl"
  href="https://www.elections.europa.eu/pl/how-elections-work" />
<link
  rel="alternate"
  hreflang="pt"
  href="https://www.elections.europa.eu/pt/how-elections-work" />
<link
  rel="alternate"
  hreflang="ro"
  href="https://www.elections.europa.eu/ro/how-elections-work" />
<link
  rel="alternate"
  hreflang="sk"
  href="https://www.elections.europa.eu/sk/how-elections-work" />
<link
  rel="alternate"
  hreflang="sl"
  href="https://www.elections.europa.eu/sl/how-elections-work" />
<link
  rel="alternate"
  hreflang="fi"
  href="https://www.elections.europa.eu/fi/how-elections-work" />
<link
  rel="alternate"
  hreflang="sv"
  href="https://www.elections.europa.eu/sv/how-elections-work" />

<link rel="icon" href="../assets/img/favicon.ico" />
<link rel="icon" href="../assets/img/favicon.png" />
<link
  rel="icon"
  type="image/jpg"
  href="../assets/img/favicon-128.jpg"
  sizes="128x128" />
<link
  rel="icon"
  type="image/jpg"
  href="../assets/img/favicon-152.jpg"
  sizes="152x152" />
<link
  rel="icon"
  type="image/jpg"
  href="../assets/img/favicon-167.jpg"
  sizes="167x167" />
<link
  rel="icon"
  type="image/jpg"
  href="../assets/img/favicon-180.jpg"
  sizes="180x180" />
<link
  rel="icon"
  type="image/jpg"
  href="../assets/img/favicon-192.jpg"
  sizes="192x192" />
<link
  rel="icon"
  type="image/jpg"
  href="../assets/img/favicon-196.jpg"
  sizes="196x196" />

<title>European Elections 2024</title>

<meta property="og:title" content="xxx" />
<meta property="og:description" content="xxx" />
<meta property="og:image" content="link" />
<meta property="og:type" content="government" />
<meta property="og:url" content="link" />
<meta property="og:site_name" content="European Parliament" />

<meta property="twitter:card" content="xxx" />
<meta property="twitter:title" content="xxx" />
<meta property="twitter:image" content="link" />
<meta property="twitter:description" content="xxx" />

<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
  rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="../assets/css/tailwind.css" rel="stylesheet" />
<link href="../assets/css/index.css" rel="stylesheet" />
<link
  rel="preload"
  href="../assets/fonts/Europea-Regular.woff2"
  as="font"
  type="font/woff2" />
<link
  rel="preload"
  href="../assets/fonts/Europea-Bold.woff2"
  as="font"
  type="font/woff2" />
<noscript>
  <link href="../assets/css/index-nojs.css" rel="stylesheet" />
</noscript>

<script
  type="text/javascript"
  defer=""
  data-tracker-name="ATInternet"
  data-value="https://www.europarl.europa.eu/website/webanalytics/ati-news.js"
  src="../assets/privacy-policy/privacy-policy.js"></script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "European Parliament",
    "url": "https://www.elections.europa.eu",
    "logo": "https://www.elections.europa.eu/assets/img/ep-logo.png"
  }
</script>
