<header class="min-h-[72px] shadow-md">
  <div
    class="lg:max-w-6xl lg:mx-auto relative flex flex-wrap items-center justify-between py-2"
  >
    <div class="logo flex-1 mx-2 sm:mx-0 my-2">
      <a href="./">
        <img
          src="../assets/img/logos/logo-ee24-en.svg"
          alt="Logo of the European Parliament"
          class="logo-european-union max-w-[200px] h-[40px]"
        />
      </a>
    </div>
    <div class="flex items-center ml-auto justify-end pb-0">
      <nav role="navigation" aria-label="Main menu" class="default-menu">
        <div class="expand-collapse">
          <button
            id="main-menu"
            class="nav-button flex items-center rounded-md border border-1 border-solid border-black-greymiddle focus:outline focus:outline-2 focus:outline-blue-focus px-2.5 py-1 mr-2"
            aria-expanded="false"
            aria-controls="menu1-list"
          >
            <span class="inline-block text-base font-EPGammaRegular pt-0.5 mr-3"
              >Menu</span
            >
            <svg
              class="inline-block w-[15px] h-[9px]"
              viewBox="0 0 21.741 12.602"
              aria-hidden="true"
              focusable="false"
            >
              <path
                id="Arrow"
                d="M0,.055,9.8,9.442,14.545,4.9,19.666,0"
                transform="translate(1.037 1.083)"
                fill="none"
                stroke="#024ea2"
                stroke-width="3"
              />
            </svg>
          </button>
          <ul
            id="menu1-list"
            class="list lg:mr-3"
            aria-labelledby="main-menu"
            hidden
          >
            <li><a href="homepage.html">Homepage</a></li>
            <li><a href="#">How to vote</a></li>
            <li><a href="#">Why vote</a></li>
            <li><a href="use-your-vote.html">Remind me</a></li>
            <li><a href="how-elections-work.html">How Elections work</a></li>
            <li><a href="use-your-vote.html">Election results</a></li>
          </ul>
        </div>
      </nav>
      <nav role="navigation" aria-label="main menu" class="lang-nav">
        <div class="expand-collapse">
          <button
            id="lang-menu"
            class="nav-button flex items-center rounded-md border border-1 border-solid border-black-greymiddle focus:outline focus:outline-2 focus:outline-blue-focus px-2.5 py-1 mr-2 sm:mr-3"
            aria-expanded="false"
            aria-controls="menu2-list"
          >
            <span class="inline-block text-base font-EPGammaRegular pt-0.5 mr-3"
              >EN <span class="sr-only">- English</span></span
            >
            <svg
              class="inline-block w-[15px] h-[9px]"
              viewBox="0 0 21.741 12.602"
              aria-hidden="true"
              focusable="false"
            >
              <path
                id="Arrow"
                d="M0,.055,9.8,9.442,14.545,4.9,19.666,0"
                transform="translate(1.037 1.083)"
                fill="none"
                stroke="#024ea2"
                stroke-width="3"
              />
            </svg>
          </button>
          <ul id="menu2-list" class="list" aria-labelledby="lang-menu" hidden>
            <li><a lang="bg" hreflang="bg" href="../bg/">BG - Български</a></li>
            <li><a lang="es" hreflang="es" href="../es/">ES - Español</a></li>
            <li><a lang="cs" hreflang="cs" href="../cs/">CS - Čeština</a></li>
            <li><a lang="da" hreflang="da" href="../da/">DA - Dansk</a></li>
            <li><a lang="de" hreflang="de" href="../de/">DE - Deutsch</a></li>
            <li>
              <a lang="et" hreflang="et" href="../et/">ET - Eesti keel</a>
            </li>
            <li><a lang="el" hreflang="el" href="../el/">EL - Ελληνικά</a></li>
            <li class="current" aria-current="true">
              <a lang="en" hreflang="en" href="../en/">EN - English</a>
            </li>
            <li><a lang="fr" hreflang="fr" href="../fr/">FR - Français</a></li>
            <li><a lang="ga" hreflang="ga" href="../ga/">GA - Gaeilge</a></li>
            <li><a lang="hr" hreflang="hr" href="../hr/">HR - Hrvatski</a></li>
            <li><a lang="it" hreflang="it" href="../it/">IT - Italiano</a></li>
            <li>
              <a lang="lv" hreflang="lv" href="../lv/">LV - Latviešu valoda</a>
            </li>
            <li>
              <a lang="lt" hreflang="lt" href="../lt/">LT - Lietuvių kalba</a>
            </li>
            <li><a lang="hu" hreflang="hu" href="../hu/">HU - Magyar</a></li>
            <li><a lang="mt" hreflang="mt" href="../mt/">MT - Malti</a></li>
            <li>
              <a lang="nl" hreflang="nl" href="../nl/">NL - Nederlands</a>
            </li>
            <li><a lang="pl" hreflang="pl" href="../pl/">PL - Polski</a></li>
            <li><a lang="pt" hreflang="pt" href="../pt/">PT - Português</a></li>
            <li><a lang="ro" hreflang="ro" href="../ro/">RO - Română</a></li>
            <li>
              <a lang="sk" hreflang="sk" href="../sk/">SK - Slovenčina</a>
            </li>
            <li>
              <a lang="sl" hreflang="sl" href="../sl/">SL - Slovenščina</a>
            </li>
            <li><a lang="fi" hreflang="fi" href="../fi/">FI - Suomi</a></li>
            <li><a lang="sv" hreflang="sv" href="../sv/">SV - Svenska</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
