<!-- PROTOTYPES LIST -->
<ul>

  <li class="mb-4">
    <a href="homepage.html" class="text-lg">Homepage</a>
  </li>
  <li class="mb-4">
    <a href="why-it-matters.html" class="text-lg">Why it matters</a>
  </li>
  <li class="mb-4">
    <a href="how-it-works.html" class="text-lg">How it works</a>
  </li>
  <li class="mb-4">
    <a href="our-role.html" class="text-lg">Our role</a>
  </li>
  <li class="mb-4">
    <a href="our-position.html" class="text-lg">Our position</a>
  </li>
  <li class="mb-4">
    <a href="by-country.html" class="text-lg">By country (ex.1 - countries)</a>
  </li>
  <li class="mb-4">
    <a href="by-country-form.html" class="text-lg">By country (ex.2 - form)</a>
  </li>
  <li class="mb-4">
    <a href="legal-notice.html" class="text-lg">Legal notice</a>
  </li>
  <li class="mb-4">
    <a href="privacy-policy.html" class="text-lg">Privacy policy</a>
  </li>
  <li class="mb-4">
    <a href="data-protection-notice.html" class="text-lg">Data protection notice</a>
  </li>
  <li class="mb-4">
    <a href="cookies-policy.html" class="text-lg">cookies policy</a>
  </li>
  <li class="mb-4">
    <a href="cookies-inventory.html" class="text-lg">Cookies inventory</a>
  </li>
  <li class="mb-4">
    <a href="accessibility.html" class="text-lg">Accessibility</a>
  </li>
  <li class="mb-4">
    <a href="easy-to-read.html" class="text-lg">Easy To Read page</a>
  </li>
  <li>
    <a href="sitemap.html" class="text-lg">Sitemap</a>
  </li>

</ul>
