<!-- LINKS - POLITICAL PARTIES -->
<ul>
  <li class="mb-6">
    <a href="after-elections.html" class="text-lg">After the elections</a>
  </li>
  <li class="mb-6">
    <a href="after-elections-the-president.html" class="text-lg"
      >After the elections - The President</a
    >
  </li>
  <li class="mb-6">
    <a href="after-elections-the-president-v2.html" class="text-lg"
      >After the elections - The President - v.2 (new content)</a
    >
  </li>
  <li class="mb-6">
    <a href="after-elections-college-of-commissionners.html" class="text-lg"
      >After the elections - College of commissionners</a
    >
  </li>
  <li class="mb-6">
    <a href="after-elections-commissioner.html" class="text-lg"
      >After the elections - Commissioner</a
    >
  </li>
  <li class="mb-6">
    <a href="after-elections-commissioner-sidebar.html" class="text-lg"
      >After the elections - Commissioner portfolio + sidebar</a
    >
  </li>
  <li class="mb-6">
    <a href="documents.html" class="text-lg">
      Hearings Document Availability Dashboard
    </a>
  </li>
  <li class="mb-6">
    <a href="portal/index.html" class="text-lg">EE24 Weekend Portal Page</a>
  </li>
  <li class="mb-6">
    <a href="portal/error-page.html" class="text-lg">EE24 Weekend Error Page</a>
  </li>
  <li class="mb-6">
    <a href="404.html" class="text-lg">404 not found page</a>
  </li>
  <li class="mb-6">
    <a href="homepage.html" class="text-lg">Homepage</a>
  </li>
  <li class="mb-6">
    <a href="why-vote.html" class="text-lg">Why vote</a>
  </li>
  <li class="mb-6">
    <a href="how-elections-work.html" class="text-lg">How Elections Work</a>
  </li>
  <li class="mb-6">
    <a href="legal-notice.html" class="text-lg">Legal notice</a>
  </li>
  <li class="mb-6">
    <a href="privacy-policy.html" class="text-lg">Privacy policy</a>
  </li>
  <li class="mb-6">
    <a href="accessibility.html" class="text-lg">Accessibility</a>
  </li>
  <li class="mb-6">
    <a href="data-protection-notice.html" class="text-lg"
      >Data protection notice</a
    >
  </li>
  <li class="mb-6">
    <a href="cookies-policy.html" class="text-lg">Cookies policy</a>
  </li>
  <li class="mb-6">
    <a href="cookies-inventory.html" class="text-lg">Cookies inventory</a>
  </li>
  <li class="mb-6">
    <a href="sitemap.html" class="text-lg">Sitemap</a>
  </li>
  <li class="mb-6">
    <a href="use-your-vote.html" class="text-lg">Use your vote - Step 1</a>
  </li>
  <li class="mb-6">
    <a href="use-your-vote--step2.html" class="text-lg"
      >Use your vote - Step 2 (code validation)</a
    >
  </li>
  <li class="mb-6">
    <a href="use-your-vote--step3-thanks.html" class="text-lg"
      >Use your vote - Step 3 (Thank you message)</a
    >
  </li>
  <li class="mb-6">
    <a href="use-your-vote--step3-unsubscribe.html" class="text-lg"
      >Use your vote - Step 3 (Unsubscribe)</a
    >
  </li>
  <li class="mb-6">
    <a href="easy-to-read.html" class="text-lg">Easy To Read page</a>
  </li>
  <li class="mb-6">
    <a href="how-to-vote.html" class="text-lg">How to vote</a>
  </li>
  <li class="mb-6">
    <a href="how-to-vote-from-abroad.html" class="text-lg"
      >How to vote from abroad</a
    >
  </li>
  <li class="mb-6">
    <a href="menu-revamp.html" class="text-lg">Elections Results Menu</a>
  </li>
  <li class="mb-6">
    <a href="hero-movie-radios-v2.html" class="text-lg">Hero Movie</a>
  </li>
  <li class="mb-6">
    <a href="hero-movie-radios-v2-loading.html" class="text-lg"
      >Hero Movie (loading...)</a
    >
  </li>
  <li class="mb-6">
    <a href="hero-movie-radios-v2-mobile.html" class="text-lg"
      >Hero Movie Mobile</a
    >
  </li>
  <li class="mb-6">
    <a href="hero-movie-stars.html" class="text-lg">Hero Movie (stars)</a>
  </li>
</ul>
