<aside class="sidebar max-w-xl" aria-labelledby="titleSide">
  <h2 id="titleSide" class="font-epSemiBold">The next European Commission</h2>

  <ul class="sidebar-list-wrapper">
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Margrethe Vestager</h3>
      </a>
      <!-- <p>A Europe Fit for the Digital Age</p> -->
      <ul class="portfolio-list-items">
        <li>A Europe Fit for the Digital Age</li>
        <li>A Europe Fit for the Digital Age 2</li>
        <li>A Europe Fit for the Digital Age 3</li>
        <li>A Europe Fit for the Digital Age 4</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Valdis Dombrovskis</h3>
      </a>
<!--      <p>A Europe Fit An Economy that Works for People</p>-->
      <ul class="portfolio-list-items">
        <li>A Europe Fit An Economy that Works for People</li>
        <li>A Europe Fit An Economy that Works for People 2</li>
      </ul>

    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Maroš Šefčovič</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>European Green Deal Interinstitutional Relations and Foresight</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Josep Borrell Fontelles</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>A Stronger Europe in the World</li>
        <li>A Stronger Europe in the World 2</li>
        <li>A Stronger Europe in the World 3</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Věra Jourová</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>Values and Transparency</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Dubravka Šuica</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>Democracy and Demography</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Margaritis Schinas</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>Promoting our European Way of Life</li>
        <li>Promoting our European Way of Life 2</li>
        <li>Promoting our European Way of Life 3</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Nicolas Schmit</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>Jobs and Social Rights</li>
        <li>Jobs and Social Rights 2</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Paolo Gentiloni</h3>
      </a>
      <p>Economy</p>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Janusz Wojciechowski</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>Agriculture</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Thierry Breton</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>Internal Market</li>
        <li>Internal Market 2</li>
        <li>Internal Market 3</li>
        <li>Internal Market 4</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Elisa Ferreira</h3>
      </a>
      <p>Cohesion and Reforms</p>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Margrethe Vestager</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>A Europe Fit for the Digital Age</li>
        <li>A Europe Fit for the Digital Age</li>
        <li>A Europe Fit for the Digital Age</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Valdis Dombrovskis</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>A Europe Fit An Economy that Works for People</li>
        <li>A Europe Fit An Economy that Works for People</li>
        <li>A Europe Fit An Economy that Works for People</li>
        <li>A Europe Fit An Economy that Works for People</li>
        <li>A Europe Fit An Economy that Works for People</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Maroš Šefčovič</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>European Green Deal Interinstitutional Relations and Foresight</li>
        <li>European Green Deal Interinstitutional Relations and Foresight</li>
        <li>European Green Deal Interinstitutional Relations and Foresight</li>
        <li>European Green Deal Interinstitutional Relations and Foresight</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Josep Borrell Fontelles</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>A Stronger Europe in the World</li>
        <li>A Stronger Europe in the World</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Věra Jourová</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>Values and Transparency</li>
        <li>Values and Transparency</li>
        <li>Values and Transparency</li>
        <li>Values and Transparency</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Dubravka Šuica</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>Democracy and Demography</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Margaritis Schinas</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>Promoting our European Way of Life</li>
        <li>Promoting our European Way of Life 2</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Nicolas Schmit</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>Jobs and Social Rights</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Paolo Gentiloni</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>Economy</li>
        <li>Economy 2</li>
        <li>Economy 3</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Janusz Wojciechowski</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>Agriculture</li>
        <li>Agriculture 2</li>
        <li>Agriculture 3</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Thierry Breton</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>Internal market</li>
        <li>Internal market 2</li>
        <li>Internal market 3</li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <h3 class="font-epSemiBold">Elisa Ferreira</h3>
      </a>
      <ul class="portfolio-list-items">
        <li>Cohesion and Reforms</li>
        <li>Cohesion and Reforms 2</li>
      </ul>
    </li>
  </ul>
</aside>
