/* Font variables */

/*$txt: Helvetica,Arial,sans-serif;
$title: Helvetica,Arial,sans-serif;*/

$roboto: 'Roboto', sans-serif;

/* Color variables generic */

$blue: #006AEF;
$blue-middle: #4162CE;
$blue-pastel: #eef9fb;
$red: #ce2d3c;
$grey-middle: #BFBFBF;
$grey-darker: #1a1a3d;
$grey-light: #F8F8F8;
$turquoise-darker: #10667a;
$blue-grade-middle: linear-gradient(to top, #4162ce, #356dd4, #2a77d8, #2181db, #1d8ade);
$blue-grade-dark: linear-gradient(to top, #4c076e, #4d1785, #49259c, #3c33b5, #1541cf);
$yellow: #FBCC03;